header {
 text-align: center;
 font-size: 30px;
 background-color: lightgreen;
 margin: 0;
 border: 30px 45px 50px;
 
}
body {
 text-align: center;
background-color: #caef8d;
margin: 100px 250px; 
	
}